<br>
<br>
<br>
<br>
<div class="container">
<form [formGroup]="registerForm" (ngSubmit)="registerSubmited()">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="Text" class="form-control" id="inputEmail3"  formControlName="name" placeholder="Name">
      </div>
    </div>

    <br>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Mobile</label>
      <div class="col-sm-10">
        <input type="Text" class="form-control" id="inputPassword3"  formControlName="mobilenumber" placeholder="MobileNumber">
      </div>
    </div>

    <br>

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Course</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"  formControlName="course" value="C Sharp">
            <label class="form-check-label" for="gridRadios1">
              C Sharp
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"  formControlName="course"  value="Java">
            <label class="form-check-label" for="gridRadios2">
              Java
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" formControlName="course" value="Python">
            <label class="form-check-label" for="gridRadios3">
              Python
            </label>
          </div>
        </div>
      </div>
    </fieldset>
   
<br>
<div class="row">
    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
    <div class="col-sm-10">
<div class="form-check">
    <input class="form-check-input" type="radio"  id="male" value="Male" formControlName="gender" >
    <label class="form-check-label" for="male">
      Male
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio"  id="female" value="Female" formControlName="gender" >
    <label class="form-check-label" for="female">
      Female
    </label>
  </div>
  </div>
  </div>
  
      <br>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>